.manageticketsContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 355px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}
.jamesContainer{
    display: flex;
    justify-content: flex-start;
}